$content-tile-height: 429px;
$content-tile-spacing: 6px;
$content-tile-text-spacing: 14px;
$content-tile-content-height: 285px;
.contentTile {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: $content-tile-spacing;

    .contentTileContent {
        width: 100%;
        height: $content-tile-content-height;
        font-weight: bold;
        font-size: 100px;
    }
    .contentTileTextContainer {
        display: flex;
        align-items: center;
    }
    .contentTileText {
        height: 130px;
        font-size: 60px;
        text-align: center;
        padding-top: $content-tile-text-spacing;
        margin: auto;
    }
}
.contentTileLong {
    height: $content-tile-height;
}

.contentTileShort {
    height: 200px;
}
