@import "../config.scss";
.contentTile {
    background-color: $content-tile-background-color;
    border-radius: $content-tile-border-radius;
    margin-bottom: $content-tile-spacing;

    .contentTileContent {
        width: 100%;
        height: $content-tile-content-height;
        font-weight: bold;
        font-size: $content-tile-content-font-size;
    }
    .contentTileTextContainer {
        display: flex;
        align-items: center;
    }
    .contentTileText {
        height: $content-tile-text-height;
        font-size: $content-tile-text-font-size;
        text-align: center;
        padding-top: $content-tile-text-spacing;
        margin: auto;
    }
}
.contentTileLong {
    height: $content-tile-height;
}

.contentTileShort {
    height: $content-tile-short-height;
    display: flex;
    font-size: $content-tile-short-font-size;
    .contentTileShortText {
        width: 100% - $content-tile-short-content-width;
        display: flex;
        align-items: center;
        margin-left: 40px;
    }
    .contentTileShortContent {
        width: $content-tile-short-content-width;
        height: 100%;
    }
}
