@import "../config.scss";

.ecoIndicatorContainer {
    margin: auto;
    left: $content-left-margin / 2;
    height: $ecoindicator-icon-size;
    position: relative;
    z-index: 50;
}

.ecoIndicatorContainer::before {
    position: absolute;
    content: "";
    top: $ecoindicator-hitbox-top;
    right: $ecoindicator-hitbox-right;
    left: $ecoindicator-hitbox-left;
    bottom: $ecoindicator-hitbox-bottom;
    z-index: 40;
}

.ecoIndicator {
    height: 100%;
}

.ecoIndicatorInactive {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
