@import "../config.scss";
.fogLightsOutline {
    height: $foglights-outline-size;
    aspect-ratio: 1/1;
}

.fogLightsSwitch {
    display: block;
    margin: auto;
    filter: invert(100%);
    height: $foglights-icon-size;
}
.fogLightsOutline::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $bottom-bar-height;
}

.fogLightsSwitched {
    border: $foglights-outline-thickness solid;
    border-radius: 50%;
    animation-duration: $fogligths-animation-duration;
}
