@import "../config.scss";

.oilPressureGauge {
    width: $oilgauge-width;
    height: $oilgauge-height;
    display: block;
    margin: auto;
}
.attachOilIcon {
    position: relative;
    z-index: 5;
}

.attachOilIcon::after {
    content: "";
    background-image: url("/imgs/oilcan.png");
    background-size: cover;
    width: $oil-icon-size;
    height: $oil-icon-size;
    left: ($oilgauge-width / 2) - ($oil-icon-size / 2);
    top: $oilgauge-height - $oil-icon-spacing;
    filter: invert(100%);
    position: absolute;
    display: block;
    z-index: 100;
}
.oilPressureValue::after {
    font-size: 32px;
    content: " bar";
}
