$oil-gauge-height: 300px;
$oil-gauge-width: 350px;

$oil-icon-size: 60px;
$oil-icon-spacing: 60px;

.oilPressureGauge {
    width: $oil-gauge-width;
    height: $oil-gauge-height;
    display: block;
    margin: auto;
}
.attachOilIcon {
    position: relative;
    z-index: 5;
}

.attachOilIcon::after {
    content: "";
    background-image: url("/imgs/oilcan.png");
    background-size: cover;
    width: $oil-icon-size;
    height: $oil-icon-size;
    left: ($oil-gauge-width / 2) - ($oil-icon-size / 2);
    top: $oil-gauge-height - $oil-icon-spacing;
    filter: invert(100%);
    position: absolute;
    display: block;
    z-index: 100;
}
.oilPressureValue::after {
    font-size: 32px;
    content: " bar";
}
