body {
    margin: 0;
    padding: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.centerChildren {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}
